
@{
    var R_Count = ViewBag.RoleCount;
}
<style>
    .chkGroup {
        background-color: #ddd;
        cursor: not-allowed;
    }
    /*************Datatable Pagination setup*******************/
    .dataTables_paginate {
        position: relative;
        float: right !important;
        margin-top: -24px;
    }

        .dataTables_paginate .paginate_button:hover {
            color: white !important;
            border: none;
            background-color: #585858;
        }

    .paginate_button {
        padding: 4px;
        border: 1px solid darkgray;
    }
</style>
<input type="hidden" id="txtTimeStamp" />
<div class="form-row py-1">
    <div class="col-lg-7">
        <div class="d-flex">
            <div class="search-field px-2 w-40">
                <div class="ibox">
                    <!-- <div class="ibox-body"> -->
                    <form class="navbar-search" action="javascript:;">
                        <div class="rel">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="searchRole" placeholder="Search Role" style="width:100%">
                        </div>
                    </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="col-lg-5">

        </div>
        <div class="new-project-submit d-flex justify-content-end">
            <div class="sec-left-resource d-flex justify-content-end">
                <div class="ibox current-projects mb-0"><span>Current Count:&nbsp;&nbsp;<strong class="badge badge-info  h-100">@R_Count</strong></span></div>
            </div>
            <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnAddRole">Add New Role</button>
        </div>
    </div>
</div>
<div class="d-flex pro-list-table">
    <table class="fixed table table-borderless bg-mediumgray mb-0 accordion" id="accordion3">
        <thead>
            <tr>
                <td scope="col" width=25%>Role Name</td>
                <td scope="col" width=20%>Description</td>
                @*<td scope="col" width=20%>Status</td>*@
                <td scope="col" width=20%>
                    Created on
                </td>
                <td scope="col" width=10%>Action</td>
                @*<td width=5% style="visibility: hidden;"><span>eXP</span></td>*@
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.GetRole.Count == 0)
            {
                <tr class="tr_Effect text-center">
                    <td colspan="9"><span class="text-capitalize" data-toggle="tooltip" title="">No records found..! </span></td>
                </tr>
            }
            else
            {
                foreach (var item in ViewBag.GetRole)
                {
                    <tr id="@item.RoleId" class="tr_Effect">
                        <td><span class="text-capitalize" data-toggle="tooltip" title="@item.RoleName">@item.RoleName</span></td>
                        <td><span class="text-capitalize" data-toggle="tooltip" title="@item.Description">@item.Description</span></td>
                        <td><span class="text-capitalize" data-toggle="tooltip" title="@Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy")">@Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy")</span></td>
                        @*<td>
                        <span class="card-title">
                            @if (item.IsActive == true)
                            {

                                <input type="checkbox" id="checkBox" name="isActive" value="@item.IsActive" checked class="chkGroup">
                            }
                            else
                            {
                                <input type="checkbox" name="isActive" value="@item.IsActive">
                            }
                        </span>
                    </td>*@
                        @*<td>
                    <span class="card-title">
                            <i class="fa fa-ellipsis-h ellipsis-read" aria-hidden="true">
                                </i>
                        </span>
                        </td>*@
                        <td>
                            <span class="text-capitalize">
                                <i class="fa fa-pencil getRoleID" aria-hidden="true" id="EditRole" style="cursor:pointer" data-toggle="modal" data-target="#EditRoleModal"></i>
                                @*&nbsp;&nbsp;&nbsp;<i class="fa fa-trash delRole" id="" style="cursor:pointer" aria-hidden="true"></i><input type="hidden" value="@item.RoleId" />*@
                            </span>
                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>
<div class="holder">

</div>

<div id="addRole" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100 semibold">Add New Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnRoleclose">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="ibox w-100">
                        <div class="ibox-body">
                            <form>
                                <div class="form-group">
                                    <label for="">Role Name<span id="Rstar" style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txtRoleName" name="RoleName" />
                                    <span id="lblRoleName" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea class="form-control" id="txtDescription" name="RoleDescription" rows="4" cols="50"></textarea>
                                    <span id="lblRoleDescription" style="color:red"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="submit d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnRoleCreate">Save</button>
                    <button type="button" class="btn btn-secondary pointer" id="cancelModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="UpdateRole" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100 semibold">Update Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="ibox w-100">
                        <div class="ibox-body">
                            <form>
                                <div class="form-group">
                                    <label for="">Role Name<span id="Rnstar" style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txtUpdateRoleName" name="RoleName" />
                                    <span id="lblRoleNameUpdate" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea class="form-control" id="Updatedesc" name="RoleDescription" rows="4" cols="50"></textarea>
                                    <span id="lblDescriptonUpdate" style="color:red"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="submit d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnRoleUpdate">Update</button>
                    <button type="button" class="btn btn-secondary pointer" id="cancelRoleModal" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="UpdateRoleId" name="UpdateRoleId" />

<div id="deleteRole" class="modal fade">
    <input type="hidden" id="delRid" />
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you really want to delete &nbsp; <b> <span id="hiddenRole" style="color:black"></span></b></p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger" id="DeleteRoleName">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteRoleInfo" class="modal fade">
    <input type="hidden" id="delRid" />
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-body">
                <p>Kindly Delete The Respective Users Assigned With Role &nbsp; <b> <span id="hiddenRoleinfo" style="color:black"></span></b></p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<script>
    //$(function () {
    //    $('#accordion3').DataTable({
    //        "pageLength": 5,
    //        "searching": false,
    //        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    //    });
    //});

    $("#searchRole").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#accordion3 tbody tr ").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });

    });

    $('#txtRoleName').on('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    $("#Rstar").show();
    $("#Rnstar").show();

    function Reset() {
        //$('#accordion3').load(' #accordion3');
        $('#addRole').modal('hide');
        $('.modal-backdrop').remove();

        $("#txtRoleName").val('')
        $("#txtDescription").val('')
        $("#lblRoleName").html("").show();
        $("#lblRoleDescription").html("").show();
        $("#Rstar").show();

        $("#txtUpdateRoleName").val('')
        $("#Updatedesc").val('')
        $("#lblRoleNameUpdate").html("").show();
        $("#lblDescriptonUpdate").html("").show();
        $("#Rnstar").show();


    }

    function ResetUpdateRole() {
        //$('#accordion3').load(' #accordion3');

        $('#UpdateRole').modal('hide');
        $('.modal-backdrop').remove();

        $("#txtUpdateRoleName").val('')
        $("#Updatedesc").val('')
        $("#lblRoleNameUpdate").html("").show();
        $("#lblDescriptonUpdate").html("").show();
        $("#Rnstar").show();

        $("#txtRoleName").val('')
        $("#txtDescription").val('')
        $("#lblRoleName").html("").show();
        $("#lblRoleDescription").html("").show();
        $("#Rstar").show();

    }

    function CheckRoleAvailability(RoleName) {
        var _RoleName = RoleName;
        var _status = true;
        $.ajax({
            type: 'Get',
            url: '@Url.Action("Checkavailabilty", "Admin")',
            data: {
                RoleName: _RoleName
            },
            dataType: "json",
            async: false,
            success: function (response) {
                if (response == false) {
                    _status = false;
                }
            },
            error: function () {
            },
        });
        return _status;
    }

    function Checkavailability(RoleName,Rid) {
        var _RoleName = RoleName;
        var _RoleId = Rid;
        var _status = true;
        $.ajax({
            type: 'Get',
            url: '@Url.Action("Checkavailabilty", "Admin")',
            data: {
                RoleName: _RoleName,
                RoleIdUpdt:_RoleId
            },
            dataType: "json",
            async: false,
            success: function (response) {
                if (response == false) {
                    _status= false;
                }
            }
        });
        return _status;
    }


    $('.getRoleID').click(function () {

        var id = $(this).closest('tr').attr('id');
         $.ajax({
                type: "POST",
                url: '@Url.Action("__UpdateRole", "Admin")',
             data: { 'id' : id},
             success: function (data) {

                 //debugger;
                 //console.log(data);

                 $("#UpdateRoleId").val(data.RoleId);
                 $("#txtUpdateRoleName").val(data.RoleName);
                 $("#Updatedesc").val(data.Description);
                 $('#UpdateRole').modal('show');
                 //$('#addRole').modal.show();
                 $("#txtTimeStamp").val(data.TS);
             },
             error: function (a) {
                 //debugger;
                 //alert(a);
             }
         });
    });


    $("#btnAddRole").on('click', function () {
            $('#addRole').modal('show');
    });

    $("#btnRoleclose,#cancelModal").click(function () {
        Reset();
        RefreshRole();
    });

    $("#btnClose,#cancelRoleModal").click(function () {
        ResetUpdateRole();
        RefreshRole();
    });




    $("#btnRoleCreate").on("click", function () {

        var RoleName = $("input[name='RoleName']").val();
        var Description = $("textarea[name='RoleDescription']").val();
        var _RoleName = false;

        if (RoleName == "") {
            _RoleName = true;
            $("#Rstar").show();
            $("#lblRoleName").html("Please enter the Role Name").show();
        }
        else if (CheckRoleAvailability(RoleName) == false) {
            _RoleName = true;
            $("#Rstar").show();
            $("#lblRoleName").html("Role Name already exists").show();
        }
        else {
            $("#Rstar").hide();
            $("#lblRoleName").html("").show();
        }

        //if (CheckRoleAvailability(RoleName) == false) {
        //    $("#Rstar").show();
        //    $("#lblRoleName").html("Role Name already exists").show();
        //}
        //else {
        //    if (RoleName == "") {
        //        $("#Rstar").show();
        //        $("#lblRoleName").html("Enter the Role Name").show();
        //    }
        //    else {
        //        $("#Rstar").hide();
        //        $("#lblRoleName").html("").show();
        //    }
        //}

        if (_RoleName == false) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateRole", "Admin")',
                data: {
                    RoleName: RoleName,
                    Description: Description
                },
                success: function (response) {
                    if (response == "success") {
                        Reset();
                        RefreshRole();
                         Notiflix.Notify.Success('Role <Strong>Created </strong>successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                    }
                    else {
                        $("#btnRoleCreate").prop('disabled', true);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        //else {
        //    $("input[name='RoleName']").val("");
        //    $("input[name='RoleDescription']").val("");
        //    $("#lblRoleName").html("").show();
        //    $("#lblRoleDescription").html("").show();
        //}
    });


    @*$(".delRole").click(function () {
        $("#deleteRole").modal('show');
        var Rid = $(this).next().val();
        var Rname = $(this).closest("tr").find('td:eq(0)').text();
        $("#hiddenRole").text(Rname);
        $("#hiddenRoleinfo").text(Rname);
        $("#delRid").val(Rid);
    });

    $("#DeleteRoleName").click(function () {
        var id = $("#delRid").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteRole", "Admin")',
            data: { id: id },
            dataType: "json",
            success: function (response) {
                if (response == "success") {
                    $("#deleteRole").modal('hide');
                    $('.modal-backdrop').remove();
                    RefreshRole();

                }
                else {
                    $("#deleteRole").modal('hide');
                    $("#deleteRoleInfo").modal('show');
                    // $('.modal-backdrop').remove();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });*@

     $(".delRole").on("click", function () {
        var id = $(this).next().val();
         Notiflix.Confirm.Show(
                'Confirm',
                'Do you want to delete ?',
                'Yes', 'No',
                function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteRole", "Admin")',
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            if (response == "success") {
                                $("#deleteRole").modal('hide');
                                $('.modal-backdrop').remove();
                                RefreshRole();
                                 Notiflix.Notify.Success('Role <Strong>deleted </strong>successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            }
                            else {
                                //$("#deleteRole").modal('hide');
                                //$("#deleteRoleInfo").modal('show');
                                // $('.modal-backdrop').remove();
                                Notiflix.Notify.Info('Kindly Delete The Respective Users Assigned With Role', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });

                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }, function () {
                    //location.reload();
                    // No button callback
                    //alert('If you say so...');
                }
            )
     });


    $("#btnRoleUpdate").on("click", function () {

        var RoleName = $("#txtUpdateRoleName").val();
        var Description = $('#Updatedesc').val();
        var RoleId = $("#UpdateRoleId").val();
        var ts = $("#txtTimeStamp").val();

        var _RoleName  = false;
        if (RoleName == "") {
            _RoleName = true;
            $("#Rnstar").show();
            $("#lblRoleNameUpdate").html("Please enter the Role Name").show();
        }
        else if (Checkavailability(RoleName, RoleId) == false) {
             _RoleName = true;
            $("#Rnstar").show();
            $("#lblRoleNameUpdate").html("Role Name already exists").show();
        }
        else {
            $("#Rnstar").hide();
            $("#lblRoleNameUpdate").html("").show();
        }

        //if (Description == "") {
        //    _Description = true;
        //    $("#lblDescriptonUpdate").html("Please Select the Description").show();
        //}
        //else {

        //    $("#lblDescriptonUpdate").html("").show();
        //}

        //if (Checkavailability(RoleName, RoleId) == false) {
        //     _RoleName = true;
        //    $("#Rnstar").show();
        //    $("#lblRoleNameUpdate").html("Role Name already exists").show();
        //}
        //else {
        //    if (RoleName == "") {
        //        $("#Rnstar").show();
        //        $("#lblRoleNameUpdate").html("Please enter the Role Name").show();
        //    }
        //    else {
        //        $("#Rnstar").hide();
        //        $("#lblRoleNameUpdate").html("").show();
        //    }
        //}
        if (_RoleName == false) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateRole", "Admin")',
                data: {
                    RoleName: RoleName,
                    Description: Description,
                    Id: RoleId,
                    TS:ts
                },
                success: function (response) {
                    if (response == "success") {
                        Notiflix.Notify.Success('Role <Strong>Updated </strong>successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                    }
                    else {
                        Notiflix.Notify.Failure('Role Not saved..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                        //$("#btnProjectCreate").prop('disabled', true);
                    }
                    ResetUpdateRole();
                    RefreshRole();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    });
</script>