
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- START PAGE CONTENT-->
<div class="page-content fade-in-up">
            <div class="row py-1 ">
                <div class="col-lg-6">
                    <ul class="m-0 p-0 sec-project">
                        <li class="resource-planning">
                            <div class="i-box">
                                <div class="ibox-body">
                                    <ul class="nav nav-tabs nav-justified" id="myTab">

                                        <li class="nav-item" data-ref="@Url.Action("_AssessmentReport","Report", new { name = "_AssessmentReport" })">
                                            <a class="nav-link title-project" data-toggle="tab" href="#AssessmentReports" role="tab" aria-controls="AssessmentReports" id="Tab_AssessmentReport">Assessment Report</a>
                                        </li>
                                        <li class="nav-item" data-ref="@Url.Action("_DetailReport", "Report", new { name = "_DetailReport" })">
                                            <a class="nav-link title-project" data-toggle="tab" href="#DetailReport" role="tab" aria-controls="DetailReport" id="">Detail Report</a>
                                        </li>
                                        <li class="nav-item" data-ref="@Url.Action("_AuditReports","Report", new { name = "_AuditReports" })">
                                            <a class="nav-link title-project" data-toggle="tab" href="#AuditReports" role="tab" aria-controls="AuditReports">Audit Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade-in-up" id="AssessmentReports" role="tabpanel">
                </div>
                <div class="tab-pane fade-in-up" id="DetailReport" role="tabpanel">

                </div>
                <div class="tab-pane fade-in-up" id="AuditReports" role="tabpanel">
                </div>

            </div>
</div>
<!-- END PAGE CONTENT-->
<!-- START POPUP-->
<script>

    $(document).ready(function () {

        $('#Tab_AssessmentReport').click();

        $(".Phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

     });

     $(".nav-tabs li").click(function () {
        var url = $(this).data('ref');
        $.ajax({
            url: url,
            async: false,
            //data: { pageId: pageId },
            success: function (response) {
                $("#AssessmentReports").html(" ");
                $("#DetailReport").html(" ");
                $("#AuditReports").html(" ");

                if (url.includes("_AssessmentReport")) {
                    $("#AssessmentReports").html(response);
                }
                else if (url.includes("_DetailReport")) {
                    $("#DetailReport").html(response);
                }
                else if (url.includes("_AuditReports")) {
                    $("#AuditReports").html(response);
                    
                }
                $(this).addClass("active");
            }
        });
    });
    @*function RefreshUser() {

         $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("UserSettings", "Admin", new { name = "_UserIndex" })',
            success: function (data) {
                $("#user").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("");
            },
         });
    }

    function RefreshCustomer() {
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("UserSettings","Admin", new { name = "_CustomerIndex" })',
            success: function (data) {
                $("#customer").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("");
            },
        });
    }*@

   
</script>

