
@{
    var V_Count = ViewBag.VersionCount;
}
<style>
    .chkGroup {
        background-color: #ddd;
        cursor: not-allowed;
    }
    /*************Datatable Pagination setup*******************/
    .dataTables_paginate {
        position: relative;
        float: right !important;
        margin-top: -24px;
    }

        .dataTables_paginate .paginate_button:hover {
            color: white !important;
            border: none;
            background-color: #585858;
        }

    .paginate_button {
        padding: 4px;
        border: 1px solid darkgray;
    }
</style>
<input type="hidden" id="txtTimeStamp" />
<div class="form-row py-1">
    <div class="col-lg-7">
        <div class="d-flex">
            <div class="search-field px-2 w-40">
                <div class="ibox">
                    <!-- <div class="ibox-body"> -->
                    <form class="navbar-search" action="javascript:;">
                        <div class="rel">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="searchVersion" placeholder="Search Name" style="width:100%">
                        </div>
                    </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="col-lg-5">

        </div>
        <div class="new-project-submit d-flex justify-content-end">
            <div class="sec-left-resource d-flex justify-content-end">
                <div class="ibox current-projects mb-0"><span>Current Count:&nbsp;&nbsp;<strong class="badge badge-info  h-100">@V_Count</strong></span></div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex pro-list-table">
    <table class="fixed table table-borderless bg-mediumgray mb-0 accordion" id="accordion3">
        <thead>
            <tr>
                <td scope="col" width=25%>Version Name</td>
                <td scope="col" width=20%>
                    Created on
                </td>
                <td scope="col" width=20%>Status</td>

                <td scope="col" width=10%>Action</td>
                @*<td width=5% style="visibility: hidden;"><span>eXP</span></td>*@
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Version.Count == 0)
            {
                <tr class="tr_Effect text-center">
                    <td colspan="9"><span class="text-capitalize" data-toggle="tooltip" title="">No records found..! </span></td>
                </tr>
            }
            else
            {
                foreach (var item in ViewBag.Version)
                {
                    <tr id="@item.ID" class="tr_Effect">
                        <td><span class="text-capitalize" data-toggle="tooltip" title="@item.Version_Name">@item.Version_Name</span></td>
                        @*<td><span class="text-capitalize" data-toggle="tooltip" title="@item.isActive">@item.isActive</span></td>*@
                        <td><span class="text-capitalize" data-toggle="tooltip" title="@Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy")">@Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy")</span></td>
                        <td>
                            <span class="card-title">
                                @if (item.isActive == true)
                                {

                                    <input type="checkbox" id="checkBox" name="isActive" value="@item.isActive" checked class="chkGroup" disabled>
                                }
                                else
                                {
                                    <input type="checkbox" name="isActive" value="@item.isActive" disabled>
                                }
                            </span>
                        </td>
                        @*<td>
                    <span class="card-title">
                            <i class="fa fa-ellipsis-h ellipsis-read" aria-hidden="true">
                                </i>
                        </span>
                        </td>*@
                        <td>
                            <span class="text-capitalize">
                                <i class="fa fa-pencil getVersionId" aria-hidden="true" id="EditVersion" style="cursor:pointer" data-toggle="modal"></i>
                                @*&nbsp;&nbsp;&nbsp;<i class="fa fa-trash delVersion" id="" style="cursor:pointer" aria-hidden="true"></i><input type="hidden" value="@item.ID" />*@
                            </span>

                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>
<div class="holder">

</div>

<div id="UpdateVersion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100 semibold">Update Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="ibox w-100">
                        <div class="ibox-body">
                            <form>
                                <div class="form-group">
                                    <label for="">Version Name<span id="Rnstar" style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txtUpdateVersionName" name="VersionName" />
                                    <span id="lblVersionNameUpdate" style="color:red"></span>
                                </div>
                                @*<div class="form-group">
                                    <label for="">Description</label>
                                    <textarea class="form-control" id="Updatedesc" name="RoleDescription" rows="4" cols="50"></textarea>
                                    <span id="lblDescriptonUpdate" style="color:red"></span>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="submit d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnVersionUpdate">Update</button>
                    <button type="button" class="btn btn-secondary pointer" id="cancelVersionModal" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="UpdateVersionId" name="UpdateVersionId" />

<script>
    $("#searchVersion").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#accordion3 tbody tr ").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });

    });

    $('.getVersionId').click(function () {
        var id = $(this).closest('tr').attr('id');
        $.ajax({
                    type: "GET",
                    url: '@Url.Action("__UpdateVersion", "other")',
                    data: { 'id': id },
            success: function (data) {
                $("#UpdateVersionId").val(data.ID);
                $("#txtUpdateVersionName").val(data.Version_Name);
                $('#UpdateVersion').modal('show');
                    },
                    error: function (a) {
                        alert('Data Not Found');
                    }
        });


    });
    $("#btnVersionUpdate").on("click", function () {
        var VersionName = $("#txtUpdateVersionName").val();
        var ID = $("#UpdateVersionId").val();

        var _RoleName  = false;
        if (VersionName == "") {
            _RoleName = true;
            $("#Rnstar").show();
            $("#lblVersionNameUpdate").html("Please enter the Name").show();
        }
        //else if (Checkavailability(VersionName, ID) == false) {
        //     _RoleName = true;
        //    $("#Rnstar").show();
        //    $("#lblVersionNameUpdate").html("Name already exists").show();
        //}
        else {
            $("#Rnstar").hide();
            $("#lblVersionNameUpdate").html("").show();
        }

       
        if (_RoleName == false) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateVersion", "other")',
                data: {
                    VersionName: VersionName,
                    Id: ID
                },
                success: function (response) {
                    if (response == "success") {
                        Notiflix.Notify.Success('Version <Strong>Updated </strong>successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                    }
                    else {
                        Notiflix.Notify.Failure('Version Not saved..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                        //$("#btnProjectCreate").prop('disabled', true);
                    }
                    ResetUpdateVersion();
                    RefreshVersion();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    });

    function ResetUpdateVersion() {
        $('#UpdateVersion').modal('hide');
        $('.modal-backdrop').remove();

        $("#txtUpdateVersionName").val('')
        $("#lblVersionNameUpdate").html("").show();
        $("#Rnstar").show();

    }
    $("#btnClose,#cancelVersionModal").click(function () {
        ResetUpdateVersion();
        RefreshVersion();
    });

</script>