
@{
    ViewBag.Title = "CustomerNeedHelpIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-1 ">
    <div class="col-lg-6">
        <ul class="m-0 p-0 sec-project">
            <li class="resource-planning">
                <div class="i-box">
                    <div class="ibox-body">

                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link title-project active" data-toggle="tab" href="#TabCustomer" role="tab" aria-controls="IssueTrack" id="Tab_IssueTrack">Customer Need Help</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="form-row phase-label justify-content-end pt-4">
            @*<div class="sec-left-resource d-flex">
                <div class="ibox current-projects mb-0"><span>Current Count:&nbsp;&nbsp;<strong class="badge badge-info h-100" id="Issuetrack_Count"></strong></span></div>
            </div>*@
            <div class="search-field px-2 w-40">
                <div class="ibox">
                    <form class="navbar-search" action="javascript:;">
                        <div class="rel">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="searchCustomerHelp" placeholder="Search" style="width:100%">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line"></div>
</div>
<div class="tab-content">
    <div class="tab-pane fade-in-up active" id="TabCustomer" role="tabpanel">
        <div class="d-flex pro-list-table">
            <table class="fixed table table-borderless bg-mediumgray mb-0" id="customerHelpTable">
                <thead>
                    <tr>
                        @*<td scope="col">User_ID</td>*@
                        <td scope="col">First Name</td>
                        <td scope="col">Second Name</td>
                        <td scope="col">Email</td>
                        <td scope="col">Phone Number</td>
                        <td scope="col">Need Help</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.cqList)
                    {
                        <tr>

                            @*<td><span class="card-title text-capitalize" data-toggle="tooltip" title="@item.User_ID">@item.User_ID</span></td>*@
                            <td><span class="card-title text-capitalize" data-toggle="tooltip" title="@item.First_Name">@item.First_Name</span></td>
                            <td><span class="card-title text-capitalize" data-toggle="tooltip" title="@item.Second_Name">@item.Second_Name</span></td>
                            <td><span class="card-title text-capitalize" data-toggle="tooltip" title="@item.Email">@item.Email</span></td>
                            <td><span class="card-title text-capitalize" data-toggle="tooltip" title="@item.Phone_No">@item.Phone_No</span></td>
                            <td>
                                <span class="fa fa-pencil Customerhelp" aria-hidden="true" id="" style="cursor:pointer" data-toggle="modal" data-target="#"></span><input type="hidden" value="@item.User_ID" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="form-row py-1">
    <div class="col-lg-7">
        <h6>Customer Need Help</h6>
    </div>
    <div class="col-lg-3">
        <div class="d-flex">
            <div class="search-field px-2 w-40">
                <div class="ibox">
                    <form class="navbar-search" action="javascript:;">
                        <div class="rel">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="searchCustomerHelp" placeholder="Search" style="width:100%">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>*@




<script>
    $(".Customerhelp").on("click", function () {

             var id = $(this).next().val();
              Notiflix.Confirm.Show(
                'Confirm',
                'Are you sure to proceed ?',
                'Yes', 'No',
                function () {
                     $.ajax({
                        url: '@Url.Action("UpdateNeepHelp", "Help")',
                        data: {id:id },
                        dataType: "json",
                         async: false,
                        success: function (data) {
                            if (data == "success") {
                                Notiflix.Notify.Success('Updated successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                                location.reload();
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });

                }, function () {
                    location.reload();
                }
            )
    });

     $("#searchCustomerHelp").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#customerHelpTable tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>