
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START PAGE CONTENT-->

<div class="page-content fade-in-up task-projects">
    <div class="row">
        <div class="col-md-2 features-role">
            <div class="sec-tabs-fetaures ">
                <div class="ibox task-tabs">
                    <div class="ibox-head">
                        <div class="ibox-title">
                            CONFIGURE
                        </div>
                    </div>
                    <div class="ibox-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#projects" role="tab" aria-controls="home"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#role" role="tab" aria-controls="profile"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;&nbsp;Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Customer" role="tab" aria-controls="profile"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;&nbsp;Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#User" role="tab" aria-controls="profile"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;&nbsp;Users</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="d-flex">
                <div class="tab-content w-100">
                    <div class="tab-pane active" id="projects" role="tabpanel">

                        <div class="form-row py-1">
                            <div class="col-lg-7">
                               
                            </div>
                            <div class="col-lg-5">
                                <div class="new-project-submit d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary  pointer" onclick="AddUser();">Add User</button>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex pro-list-table">
                            <table class="table table-borderless bg-mediumgray mb-0">
                                <thead>
                                    <tr>
                                        <td scope="col">Name</td>
                                        <td scope="col">Email</td>
                                        <td scope="col">Phone</td>
                                        <td scope="col">Role</td>
                                        <td scope="col">UserType</td>
                                        <td scope="col">Customer</td>
                                        <td scope="col">Status</td>
                                        <td scope="col">Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="p-2">
                                            <div class="">
                                                @foreach (var item in ViewBag.Users)
                                                {
                                                    <div id="accordion" class="accordion">
                                                        <div class="card mb-2">
                                                            <div class="card-header d-flex justify-content-between" data-toggle="collapse" href="#collapseOne">
                                                                <span class="card-title">@item.Name</span>
                                                                <span class="card-title">@item.Email</span>
                                                                <span class="card-title">@item.Phone</span>
                                                                <span class="card-title">@item.RoleName</span>
                                                                <span class="card-title">@item.UserType</span>
                                                                <span class="card-title">@item.Customer_Name</span>
                                                                <span class="card-title">@item.Status</span>
                                                                @*<span class="card-title"><i class="fa fa-ellipsis-h ellipsis-read"></i></span>*@
                                                                <span class="fa fa-pencil btnUserEdit" aria-hidden="true" id="" style="cursor:pointer" data-toggle="modal" data-target="#EditModal"></span><input type="hidden" value="@item.UserId" />
                                                                <span class="fa fa-trash btnUserDelete" aria-hidden="true" id="" style="cursor:pointer" data-toggle="modal" data-target=""></span><input type="hidden" value="@item.UserId" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="tab-pane" id="role" role="tabpanel">..2.</div> -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- START POPUP-->
<div id="addUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100 semibold" id="h4addUser">Add new User</h4>
                <h4 class="modal-title text-center w-100 semibold" id="h4UpdateUser" style="display:none">Update User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="ibox w-100">
                        <div class="ibox-body">
                            <form>
                                <input type="hidden" id="txtUserId" />
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" id="txtUserName" aria-describedby="">
                                    <span class="" id="lblName" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Login Id</label>
                                    <input type="text" class="form-control" id="txtLoginId" aria-describedby="">
                                    <span class="" id="lblLoginID" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="text" class="form-control" id="txtPassword" aria-describedby="">
                                    <span class="" id="lblPassword" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Confirm Password</label>
                                    <input type="text" class="form-control" id="txtCnfmPassword" aria-describedby="">
                                    <span class="" id="lblCnfmPassword" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="number" class="form-control" id="txtUserPhone" maxlength="10" aria-describedby="">
                                    <span class="" id="lblUserPhone" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" id="txtUserEmail" aria-describedby="">
                                    <span class="" id="lblUserEmail" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group">
                                    <label for="">User Type</label>
                                    <select class="form-control" id="drpUserType" name="">
                                        <option value="0">Select User Type</option>
                                        @foreach (var item in ViewBag.UserType)
                                        {
                                            <option value="@item.UserTypeID">@item.UserType</option>
                                        }
                                    </select>
                                    <span class="" id="lblUserType" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group" style="display:none" id="divRole">
                                    <label for="">Role</label>
                                    <select class="form-control" id="drpRole" name="">
                                        <option value="0">Select Role</option>
                                        @foreach (var item in ViewBag.Role)
                                        {
                                            <option value="@item.RoleID">@item.RoleName</option>
                                        }
                                    </select>
                                    <span class="" id="lblRole" style="color:red;display:none">&nbsp;</span>
                                </div>
                                <div class="form-group" style="display:none" id="divCustomer">
                                    <label for="">Customer</label>
                                    <select class="form-control" id="drpCustomer" name="">
                                        <option value="00000000-0000-0000-0000-000000000000">Select Customer</option>
                                        @foreach (var item in ViewBag.Customer)
                                        {
                                            <option value="@item.Customer_ID">@item.Company_Name</option>
                                        }
                                    </select>
                                    <span class="" id="lblCustomer" style="color:red;display:none">&nbsp;</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="submit d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnUserCreate">Save</button>
                    <button type="button" class="btn btn-primary order-1 ml-2 pointer" id="btnUserUpdate" style="display:none">Update</button>
                    <button type="button" class="btn btn-secondary pointer" id="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PPOPUP-->
@Scripts.Render("~/bundles/Scripts/Layout")
<script>
    function AddUser() {
        $('#addUser').modal('show');
    }
    $('#cancel').click(function () {
        $('#addUser').modal('hide');
    });

     $("#drpUserType").change(function () {
        var Id = $(this).val();
        if (Id == 1 || Id == 4||Id == 0) {
            $("#divRole").hide();
            $("#divCustomer").hide();
        }
        else if (Id == 2) {
            $("#divRole").show();
            $("#divCustomer").hide();
        }
        else if (Id = 3) {
            $("#divRole").show();
            $("#divCustomer").show();
        }
     });

    function TaskPassword(Password) {
        var status = true;
        var filter = /^(?=.*?[A-Za-z])(?=.*?[0-9])(?=.*?[^\w\s]).{6,8}$/
        if (Password.length < 6) {
            $("#lblPassword").html("Password should contain 6-8 characters").show();
            status = false;
        }
        else if (!filter.test(Password)) {
            $("#lblPassword").html("Password should contain at least one character,Special char and number").show();
            status = false;
        }
        else {
            $("#lblPassword").html("").show();
            status = true
        }
        return status;
    }

     function ValidateName(data) {
        var letters = /^[A-Za-z._, ]+$/;
        if (!letters.test(data)) {
            return false;
        }
     }

     function TaskPhone(UserPhone){
        var validateMobNum= /^\d*(?:\.\d{1,2})?$/;
        //var filter = /[1-9]{1}[0-9]{9}/;
        if (validateMobNum.test(UserPhone) && UserPhone.length == 10) {
            //alert("Valid Mobile Number");
        }
        else {
            return false;
            //alert("Invalid Mobile Number");
        }
    }

    function TaskEmailCheck(UserEmail) {
       var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
       if (!filter.test(UserEmail)) {
          return false
       }           
    }

    $("#btnUserCreate").on("click", function () {
        debugger;
         var Name = $("#txtUserName").val();
        Name = Name.replace(/,/g, " ");
        var LoginID = $("#txtLoginId").val();
        LoginID = LoginID.replace(/,/g, "");
        var Password = $("#txtPassword").val();
        var cnfmPassword = $("#txtCnfmPassword").val();
        var UserPhone = $("#txtUserPhone").val();
        var UserEmail = $("#txtUserEmail").val();
        var UserTypeID = $("#drpUserType").val();
        var RoleID = $("#drpRole").val();
        var Customer_Id = $("#drpCustomer").val();

        var Name_ = LoginID_ = Password_ = cnfmPassword_ = UserPhone_ = UserEmail_ = UserTypeID_ = RoleID_= Customer_Id_= false;

        if (Name == "" || ValidateName(Name) == false) {
            Name_ = true;
            $("#lblName").html("Please enter the User Name").show();
        }
        else {
            $("#lblName").html("").show();
        }

        if (LoginID == "") {
            LoginID_ = true;
            $("#lblLoginID").html("Please enter a Proper Login").show();
        }
        else {
            $("#lblLoginID").html("").show();
        }
        if (Password == "") {
            Password_ = true;
            $("#lblPassword").html("Please enter the Password").show();
            $("#txtCnfmPassword").val("");
        }
        else {
            $("#lblPassword").html("").show();
        }

        if (TaskPassword(Password) == false) {
            Password_ = true;
        }

        if (Password != cnfmPassword) {
            cnfmPassword_ = true;
            $("#lblCnfmPassword").html("Password Does not match kindly check").show();
        }
        else {
            $("#lblCnfmPassword").html("").show();
        }

         if (UserPhone == "" || TaskPhone(UserPhone) == false) {
            UserPhone_ = true;
            $("#lblUserPhone").html("Please enter a valid mobile number").show();
        }
        else {
            $("#lblUserPhone").html("").show();
        }

        if (UserEmail == "" || TaskEmailCheck(UserEmail) == false) {
            UserEmail_ = true;
            $("#lblUserEmail").html("Please enter the User Email").show();
        }
        else {
            $("#lblUserEmail").html("").show();
        }

        if (UserTypeID == 0) {
            UserTypeID_ = true;
            $("#lblUserType").html("Please select the User Type").show();
        }
        else {
            $("#lblUserType").html("").show();
        }

        if (UserTypeID == 2 || UserTypeID == 3) {
            if (RoleID == 0) {
                RoleID_ = true;
                $("#lblRole").html("Please select the Role").show();
            }           
        }
        else {
            $("#lblRole").html("").show();
        }  

        if (UserTypeID == 3) {
            if (Customer_Id == '00000000-0000-0000-0000-000000000000') {
                Customer_Id_ = true;
                $("#lblCustomer").html("Please select the Customer").show();
            }           
        }
        else {
            $("#lblCustomer").html("").show();
        }  

        if (Name_ == false && LoginID_ == false && Password_ == false && cnfmPassword_ == false && UserPhone_ == false && UserEmail_ == false && UserTypeID_ == false && RoleID_ == false && Customer_Id_ == false) {

             $.ajax({
                type: "POST",
                url: '@Url.Action("User_Create_Update","User")',
                data: { Name: Name, EMail: UserEmail, Phone: UserPhone, LoginId: LoginID, Password: Password, RoleID: RoleID, UserTypeID: UserTypeID, Customer_Id:Customer_Id },
                success: function (response) {
                    if (response == "success") {
                        alert("User Saved successfully..!");
                        location.reload();
                    }
                },
                failure: function (response) {
                   alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
             });
        }
    });

    
    $(".btnUserEdit").on("click", function () {
        debugger
        var id = $(this).next().val();

         $.ajax({
            url: '@Url.Action("GetUserById","User")',
            type: "GET",
            data: { id: id },
            async: false,
            success: function (result) {
                $('#addUser').modal('show');
                $("#txtUserId").val(result.UserId);
                $("#txtUserName").val(result.Name);
                $("#txtUserName").prop('disabled', true);
                $("#txtLoginId").val(result.LoginId);
                $("#txtPassword").val(result.Password);
                $("#txtCnfmPassword").val(result.Password);
                $("#txtUserPhone").val(result.Phone);
                $("#txtUserEmail").val(result.Email);
                $("#drpUserType").val(result.UserTypeID);
                $("#drpRole").val(result.RoleID);
                $("#drpCustomer").val(result.Customer_Id);
                if (result.RoleID != null) {
                    $("#divRole").show();
                }
                else {
                    $("#divRole").hide();
                }
                if (result.Customer_Id != '00000000-0000-0000-0000-000000000000') {
                    $("#divCustomer").show();
                }
                else {
                    $("#divCustomer").hide();
                }
                    
                $("#btnUserUpdate").show();
                $("#btnUserCreate").hide();
                $("#h4addUser").hide();
                $("#h4UpdateUser").show();
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

    
     $("#btnUserUpdate").on("click", function () {
         debugger;
         var UserId = $("#txtUserId").val();
         var Name = $("#txtUserName").val();
        Name = Name.replace(/,/g, " ");
        var LoginID = $("#txtLoginId").val();
        LoginID = LoginID.replace(/,/g, "");
        var Password = $("#txtPassword").val();
        var cnfmPassword = $("#txtCnfmPassword").val();
        var UserPhone = $("#txtUserPhone").val();
        var UserEmail = $("#txtUserEmail").val();
        var UserTypeID = $("#drpUserType").val();
        var RoleID = $("#drpRole").val();
        var Customer_Id = $("#drpCustomer").val();

        var Name_ = LoginID_ = Password_ = cnfmPassword_ = UserPhone_ = UserEmail_ = UserTypeID_ = RoleID_= Customer_Id_= false;

        if (Name == "" || ValidateName(Name) == false) {
            Name_ = true;
            $("#lblName").html("Please enter the User Name").show();
        }
        else {
            $("#lblName").html("").show();
        }

        if (LoginID == "") {
            LoginID_ = true;
            $("#lblLoginID").html("Please enter a Proper Login").show();
        }
        else {
            $("#lblLoginID").html("").show();
        }
        if (Password == "") {
            Password_ = true;
            $("#lblPassword").html("Please enter the Password").show();
            $("#txtCnfmPassword").val("");
        }
        else {
            $("#lblPassword").html("").show();
        }

        if (TaskPassword(Password) == false) {
            Password_ = true;
        }

        if (Password != cnfmPassword) {
            cnfmPassword_ = true;
            $("#lblCnfmPassword").html("Password Does not match kindly check").show();
        }
        else {
            $("#lblCnfmPassword").html("").show();
        }

         if (UserPhone == "" || TaskPhone(UserPhone) == false) {
            UserPhone_ = true;
            $("#lblUserPhone").html("Please enter a valid mobile number").show();
        }
        else {
            $("#lblUserPhone").html("").show();
        }

        if (UserEmail == "" || TaskEmailCheck(UserEmail) == false) {
            UserEmail_ = true;
            $("#lblUserEmail").html("Please enter the User Email").show();
        }
        else {
            $("#lblUserEmail").html("").show();
        }

        if (UserTypeID == 0) {
            UserTypeID_ = true;
            $("#lblUserType").html("Please select the User Type").show();
        }
        else {
            $("#lblUserType").html("").show();
        }

        if (UserTypeID == 2 || UserTypeID == 3) {
            if (RoleID == 0) {
                RoleID_ = true;
                $("#lblRole").html("Please select the Role").show();
            }           
        }
        else {
            $("#lblRole").html("").show();
        }  

        if (UserTypeID == 3) {
            if (Customer_Id == '00000000-0000-0000-0000-000000000000') {
                Customer_Id_ = true;
                $("#lblCustomer").html("Please select the Customer").show();
            }           
        }
        else {
            $("#lblCustomer").html("").show();
        }  

        if (Name_ == false && LoginID_ == false && Password_ == false && cnfmPassword_ == false && UserPhone_ == false && UserEmail_ == false && UserTypeID_ == false && RoleID_ == false && Customer_Id_ == false) {

             $.ajax({
                type: "POST",
                url: '@Url.Action("User_Create_Update","User")',
                data: { UserId:UserId, Name: Name, EMail: UserEmail, Phone: UserPhone, LoginId: LoginID, Password: Password, RoleID: RoleID, UserTypeID: UserTypeID, Customer_Id:Customer_Id },
                success: function (response) {
                    if (response == "success") {
                        alert("User Updated successfully..!");
                        location.reload();
                    }
                },
                failure: function (response) {
                   alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
             });
        }
     });

    
    $('.btnUserDelete').on("click", function () {
        debugger;
        var id = $(this).next().val();
         $.ajax({
             type: "POST",
             url: '@Url.Action("Delete","User")',
             data: { id: id },
             dataType: "json",
             success: function (response) {
                 if (response == "success") {
                     alert('User deleted successfully..!');
                     location.reload();
                 }
             },
             failure: function (response) {
                 alert(response.responseText);
             },
             error: function (response) {
                  alert(response.responseText);
             }
         });
    })

</script>